---
import { Image } from "astro:assets";
import Plane from "$/assets/icons/plane.svg";
import Button from "$/atoms/Button.astro";
import clients from "$/constants/clients.ts";
import logoLight from "$/assets/logo-light.svg";
---

<script>
  import { animate, inView, stagger } from "motion";
  const sequence = [
    [
      "#examplesEl",
      { y: [30, 0], opacity: [0, 1] },
      { duration: 0.5, delay: stagger(0.05, { startDelay: 0.3 }) },
    ],
    ["#clientEl", { opacity: [0, 1] }, { duration: 0.5, delay: stagger(0.05) }],
  ];

  document.addEventListener("astro:page-load", () => {
    const stop = inView("#examples", () => {
      // @ts-expect-error
      animate(sequence);
    });

    window.addEventListener("astro:before-swap", () => {
      stop();
    });
  });
</script>

<section
  id="examples"
  class="mt-section z-30 container flex scroll-mt-48 flex-col items-center justify-center bg-none pb-12">
  <h3
    class="font-calistoga text-level-5 mb-24 max-w-[18ch] text-center text-balance drop-shadow">
    <span>Our clients are the stars</span>
    <span
      >we just help them
      <span class="flashing-text drop-shadow-xl">shine</span>
    </span>
  </h3>
  <div
    id="grid"
    class="tablet:grid-cols-2 container:grid-cols-5 z-30 grid grid-cols-1 gap-6">
    {
      clients.map(({ title, subtitle, content, styles, site, background }) => (
        <a
          href={site}
          style={styles}
          target="_blank"
          class="group bg-opacity-50 ring-dark-bg container:first:col-span-2 container:[&:nth-child(2)]:col-span-3 container:[&:nth-child(3)]:col-span-3 relative col-span-1 overflow-clip rounded-lg bg-cover bg-top px-8 py-10 ring-1 drop-shadow-lg transition-all duration-500 ring-inset hover:-translate-y-2 hover:bg-[top_left_1rem] sm:px-12">
          <figure
            class={`absolute top-[1px] -left-4 z-20 h-[99.5%] w-6 rounded-l-lg ${background} transition-all duration-500 group-hover:translate-x-4`}
          />
          <p class="font-calistoga text-level-3 drop-shadow">{title}</p>
          <p class="text-level-1 mb-52 drop-shadow">{subtitle}</p>
          <p class="pretty max-w-[55ch] drop-shadow">{content}</p>
        </a>
      ))
    }
    <div
      class="group secondary-gradient container:col-span-2 relative col-span-1 flex h-auto flex-col overflow-clip rounded-lg px-8 py-10 drop-shadow-lg transition-all duration-500 hover:-translate-y-2 sm:px-12">
      <Image
        src={logoLight}
        alt=""
        width={240}
        class="absolute top-24 -right-8 z-30 -scale-x-[1] rotate-[95deg] opacity-60 transition-all duration-500 group-hover:translate-x-4"
      />
      <p class="font-calistoga text-level-3 z-30 drop-shadow">Learn More</p>
      <p class="text-level-1 z-30 mb-52 drop-shadow">
        Let's Make Your Business Shine
      </p>
      <div
        class="z-30 flex flex-col gap-4 sm:flex-row sm:justify-between sm:gap-0">
        <p class="pretty max-w-[25ch] drop-shadow">
          Get in touch and add some Majic to your site.
        </p>
        <Button
          href="#contact"
          variant="dark"
          floating
          class="tablet:px-12 pl-4 whitespace-nowrap sm:px-6">
          Contact
          <Plane
            width={16}
            height={16}
            class="tablet:hidden fill-light mr-4 ml-28 inline sm:mr-0 sm:ml-32"
          />
        </Button>
      </div>
      <figure
        class="bg-dark-bg/50 absolute top-0 left-0 z-20 h-full w-full rounded-lg">
      </figure>
    </div>
  </div>
</section>
