---
import { Image } from "astro:assets";
import { clients } from "$/constants";
import { Button } from "$/components";
import { Icon } from "astro-icon/components";
import logoLight from "$/assets/logo-light.svg";
---

<script>
  import { animate, inView, stagger } from "motion";

  document.addEventListener("astro:page-load", () => {
    const sequence = [
      [
        "#examplesEl",
        { y: [30, 0], opacity: [0, 1] },
        { duration: 0.5, delay: stagger(0.05, { startDelay: 0.3 }) },
      ],
      [
        "#clientEl",
        { opacity: [0, 1] },
        { duration: 0.5, delay: stagger(0.05) },
      ],
    ];

    inView("#examples", () => {
      // @ts-expect-error
      animate(sequence);
    });
  });
</script>

<section
  id="examples"
  class="container z-30 my-section flex flex-col items-center justify-center bg-none pb-12">
  <h3
    id="examplesEl"
    class="mb-24 max-w-[18ch] text-balance text-center font-calistoga text-level-5 drop-shadow">
    <span id="examplesEl">Our clients are the stars</span>
    <span id="examplesEl"
      >we just help them <span class="flashing-text drop-shadow-xl">shine</span
      ></span
    >
  </h3>
  <div
    id="grid"
    class="z-30 grid grid-cols-1 gap-6 tablet:grid-cols-2 container:grid-cols-5">
    {
      clients.map(({ title, subtitle, content, styles, site, background }) => (
        <a
          id="clientEl"
          href={site}
          style={styles}
          target="_blank"
          class="group relative col-span-1 overflow-clip rounded-lg bg-opacity-50 bg-cover bg-top px-8 py-10 ring-1 ring-inset ring-dark-bg drop-shadow-lg transition-all duration-500 hover:-translate-y-2 hover:bg-[top_left_1rem] sm:px-12 container:first:col-span-2 container:[&:nth-child(2)]:col-span-3 container:[&:nth-child(3)]:col-span-3">
          <figure
            class={`absolute -left-4 top-[1px] z-20 h-[99.5%] w-6 rounded-l-lg ${background} transition-all duration-500 group-hover:translate-x-4`}
          />
          <p class="font-calistoga text-level-3 drop-shadow">{title}</p>
          <p class="mb-52 text-level-1 drop-shadow">{subtitle}</p>
          <p class="pretty max-w-[55ch] drop-shadow">{content}</p>
        </a>
      ))
    }
    <div
      id="clientEl"
      class="group relative col-span-1 flex h-auto flex-col overflow-clip rounded-lg bg-secondary-gradient px-8 py-10 drop-shadow-lg transition-all duration-500 hover:-translate-y-2 sm:px-12 container:col-span-2">
      <Image
        src={logoLight}
        alt=""
        width={240}
        class="absolute -right-8 top-24 z-30 rotate-[95deg] -scale-x-[1] opacity-60 transition-all duration-500 group-hover:translate-x-4"
      />
      <p class="z-30 font-calistoga text-level-3 drop-shadow">Learn More</p>
      <p class="z-30 mb-52 text-level-1 drop-shadow">
        Let's Make Your Business Shine
      </p>
      <div
        class="z-30 flex flex-col gap-4 sm:flex-row sm:justify-between sm:gap-0">
        <p class="pretty max-w-[25ch] drop-shadow">
          Get in touch to elevate your online presence with Majic.
        </p>
        <Button
          href="/contact"
          variant="dark"
          floating
          class="whitespace-nowrap pl-4 sm:px-6 tablet:px-12">
          Contact
          <Icon
            name="plane"
            class="ml-28 mr-4 inline sm:ml-32 sm:mr-0 tablet:hidden"
          />
        </Button>
      </div>
      <figure
        class="absolute left-0 top-0 z-20 h-full w-full rounded-lg bg-dark-bg/50">
      </figure>
    </div>
  </div>
</section>
