---
import { Icon } from "astro-icon/components";
import pricingPlans from "$/constants/pricingPlans.ts";
import MobilePackagesV2 from "$/molecules/MobilePackagesV2.astro";
---

<script>
  import { loadLottie, cleanupLottie } from "$/utils/lottieHelpers";

  document.addEventListener("astro:page-load", () => {
    loadLottie("Personal", false);
    loadLottie("Business", false);
    loadLottie("Commerce", false);

    window.addEventListener("astro:before-swap", () => {
      cleanupLottie();
    });
  });
</script>

<section
  id="packagesEl"
  class="h-[min(auto, 60vh)] intersect:opacity-100 intersect-once transition-[opacity, translate] intersect:translate-y-0 relative mb-6 flex translate-y-10 flex-col items-center opacity-0 !delay-300 !duration-1000 !ease-out">
  <div class="flex w-full flex-col justify-between">
    <MobilePackagesV2 />
    <div class="container:grid mt-8 hidden grid-cols-3 gap-6">
      {
        pricingPlans.map((plan) => (
          <div
            id={`plan-${plan.name.toLowerCase()}`}
            class:list={[
              "bg-light text-dark group relative flex h-auto flex-col justify-between rounded-lg pt-16 pb-4 shadow",
              { "ring-blurple ring-[3px]": plan.recommended },
            ]}>
            {plan.recommended && (
              <div class="text-light absolute -top-5 left-0 flex w-full justify-center text-center">
                <p class="secondary-gradient ring-blurple z-10 w-fit rounded-full px-14 py-1 ring-[3px]">
                  Most Popular
                </p>
                <figure class="group-hover:shimmer bg-blurple absolute -top-1 mx-auto h-[44px] w-60 rounded-full blur-lg" />
              </div>
            )}
            <div>
              <canvas
                id={`lottie-container-${plan.name}`}
                height={324}
                width={324}
                class="mx-auto transition-transform duration-300 ease-in-out will-change-transform group-hover:-translate-y-2"
              />
              <p class="mt-8 flex w-full flex-col px-12">
                <span class="text-level-2 font-calistoga group-hover:flashing-text">
                  {plan.name}
                </span>
                <span class="text-level-1 font-medium tracking-tight">
                  {plan.price}
                </span>
              </p>
              <p class="text-level-2 w-full text-center font-medium" />
              <p class="text-min text-dark/80 mt-2 px-12 text-pretty">
                {plan.blurb}
              </p>
              <div class="my-14 px-12">
                {plan.services.map((service) => (
                  <div class="mb-6 flex">
                    <Icon name="check-icon" class="text-2xl" />
                    <p class="ml-6 inline">{service}</p>
                  </div>
                ))}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .group-hover\:shimmer::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 195, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    background-size: 200% 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .group:hover .group-hover\:shimmer::after {
    opacity: 1;
    animation: shimmerEffect 1.2s infinite linear;
  }

  @keyframes shimmerEffect {
    0% {
      background-position: 100% 0;
    }
    50% {
      background-position: 0 -20%;
    }
    100% {
      background-position: -100% 0;
    }
  }
</style>
