---
import { Icon } from "astro-icon/components";
import pricingPlans from "$/constants/pricingPlans.ts";
import MobilePackages from "$/molecules/MobilePackages.tsx";
---

<script>
  import { DotLottieWorker } from "@lottiefiles/dotlottie-web";

  document.addEventListener("astro:page-load", () => {
    const personalLottie = new DotLottieWorker({
      canvas: document.getElementById(
        "lottie-container-Personal",
      ) as HTMLCanvasElement,
      src: `${window.location.origin}/animations/Personal.lottie`,
      loop: true,
      autoplay: true,
      workerId: "personal-lottie",
    });
    const businessLottie = new DotLottieWorker({
      canvas: document.getElementById(
        "lottie-container-Business",
      ) as HTMLCanvasElement,
      src: `${window.location.origin}/animations/Business.lottie`,
      loop: true,
      autoplay: true,
      workerId: "business-lottie",
    });
    const commerceLottie = new DotLottieWorker({
      canvas: document.getElementById(
        "lottie-container-Commerce",
      ) as HTMLCanvasElement,
      src: `${window.location.origin}/animations/Commerce.lottie`,
      loop: true,
      autoplay: true,
      workerId: "commerce-lottie",
    });

    window.addEventListener("astro:before-swap", () => {
      personalLottie.destroy();
      businessLottie.destroy();
      commerceLottie.destroy();
    });
  });
</script>

<section
  id="packagesEl"
  class="h-[min(auto, 60vh)] relative mb-6 flex flex-col items-center">
  <div class="flex w-full flex-col justify-between">
    <MobilePackages client:only="solid-js" />
    <div class="mt-8 hidden grid-cols-3 gap-6 container:grid">
      {
        pricingPlans.map((plan) => (
          <div
            class:list={[
              "relative flex h-auto flex-col justify-between rounded-lg bg-light py-16 text-dark shadow",
              { "ring-[3px] ring-blurple": plan.recommended },
            ]}>
            {plan.recommended && (
              <div class="absolute -top-5 left-0 flex w-full justify-center text-center text-light">
                <p class="z-10 w-fit rounded-full bg-secondary-gradient px-14 py-1 ring-[3px] ring-blurple">
                  Most Popular
                </p>
                <figure class="absolute -top-1 mx-auto h-[44px] w-60 rounded-full bg-blurple blur-lg" />
              </div>
            )}
            <div>
              <canvas
                id={`lottie-container-${plan.name}`}
                height={384}
                width={384}
                class="mx-auto"
              />
              <p class="mt-8 w-full text-center font-calistoga text-level-2">
                {plan.name}
              </p>
              <p class="mt-2 text-balance text-center text-min text-dark/80">
                {plan.blurb}
              </p>
              <div class="my-14 px-12">
                {plan.services.map((service) => (
                  <div class="mb-6 flex">
                    <Icon name="check-icon" class="text-2xl" />
                    <p class="ml-6 inline">{service}</p>
                  </div>
                ))}
              </div>
            </div>
            <div>
              <p class="w-full text-center font-calistoga text-level-2">
                {plan.price}
              </p>
              <p class="mt-2 w-full text-center text-min text-dark/80">
                {plan.monthly}
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
