---
import benefits from "$/constants/benefits";
---

<div
  id="benefits"
  class="tablet:grid-cols-3 relative z-20 container grid w-screen grid-cols-1 p-0">
  {
    benefits[0].map(({ maskId, title, content }) => (
      <div
        id={maskId}
        class="mask bg-light-purple text-dark-purple tablet:[&:nth-child(3)]:pb-0 z-50 col-span-1 w-full pl-12 [&:nth-child(3)]:pb-24">
        <div class="relative mt-44 md:mb-24">
          <figure class="bg-blurple absolute h-[2.15rem] w-1 rounded-lg" />
          <div class="ml-6">
            <p class="text-level-1 mb-3 font-semibold">{title}</p>
            <p class="tablet:max-w-[40ch] max-w-[30ch] text-pretty sm:max-w-prose">
              {content}
            </p>
          </div>
        </div>
      </div>
    ))
  }
  {
    benefits[1].map(({ maskId, title, content }) => (
      <div
        id={maskId}
        class="mask2 bg-light-purple text-dark-purple tablet:block z-50 col-span-1 hidden w-full pl-12">
        <div class="relative mt-24 mb-28">
          <figure class="bg-blurple absolute h-[2.15rem] w-1 rounded-lg" />
          <div class="ml-6">
            <p class="text-level-1 mb-3 font-semibold">{title}</p>
            <p class="max-w-[40ch] text-pretty">{content}</p>
          </div>
        </div>
      </div>
    ))
  }
</div>

<style>
  #benefits {
    grid-template-rows: repeat(2, minmax(0, auto));
  }

  #benefits::before {
    height: 100%;
    width: 100vw;
    left: -100vw;
    background-color: #bbbbff;
    content: "";
    position: absolute;
  }

  #benefits::after {
    height: 100%;
    width: 100vw;
    right: -100vw;
    background-color: #bbbbff;
    content: "";
    position: absolute;
  }

  .mask {
    mask-position: 4.5rem 7rem !important;
  }

  .mask2 {
    mask-position: 4.5rem 2rem !important;
  }

  #mask1 {
    mask:
      url("/icons/wand.svg") left top/contain no-repeat,
      linear-gradient(#000 0 0);
    mask-composite: exclude;
    mask-size: 40px;
  }

  #mask2 {
    mask:
      url("/icons/seo.svg") left top/contain no-repeat,
      linear-gradient(#000 0 0);
    mask-composite: exclude;
    mask-size: 40px;
  }

  #mask3 {
    mask:
      url("/icons/camera.svg") left top/contain no-repeat,
      linear-gradient(#000 0 0);
    mask-composite: exclude;
    mask-size: 38px;
  }

  #mask4 {
    mask:
      url("/icons/bag.svg") left top/contain no-repeat,
      linear-gradient(#000 0 0);
    mask-composite: exclude;
    mask-size: 35px;
  }

  #mask5 {
    mask:
      url("/icons/robot.svg") left top/contain no-repeat,
      linear-gradient(#000 0 0);
    mask-composite: exclude;
    mask-size: 50px;
  }

  #mask6 {
    mask:
      url("/icons/scroll.svg") left top/contain no-repeat,
      linear-gradient(#000 0 0);
    mask-composite: exclude;
    mask-size: 45px;
  }
</style>
