---
import "@/styles/globals.css";
import { ClientRouter } from "astro:transitions";
import { ScrollObserver } from "astro-scroll-observer";
import Header from "@/components/molecules/Header.astro";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const ogDescription =
  "Discover expert, affordable custom web design and development services with a dedicated team in Central Florida.";
---

<html
  lang="en"
  class="overflow-x-clip subpixel-antialiased selection:bg-blurple selection:text-dark">
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg?v=1" />
    <link rel="icon" type="favicon" href="/favicon.ico?v=1" />
    <link rel="canonical" href={canonicalURL} />
    <title>Dev | Majic Web Design</title>
    <meta name="description" content={ogDescription} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content="Majic Web Design" />
    <meta property="og:description" content={ogDescription} />
    <meta property="og:image" content="/images/og-logo-v2.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="Majic Web Design" />
    <meta property="twitter:description" content={ogDescription} />
    <meta property="twitter:image" content="/images/og-logo-v2.png" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta
      name="keyword"
      content="web design, website, development, video editing, creative, business, branding, marketing, apps"
    />
    <link rel="preload" as="font" type="font/woff2" href="/fonts/Inter.woff2" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/Calistoga.woff2"
    />
    <ClientRouter />
    <ScrollObserver />
  </head>

  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
