---
import "$/styles/globals.css";
import { ClientRouter } from "astro:transitions";
import { ScrollObserver } from "astro-scroll-observer";
import Header from "$/molecules/Header.astro";
import calistogaFont from "$/assets/fonts/Calistoga.woff2";
import interFont from "$/assets/fonts/Inter.woff2";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title } = Astro.props;
const ogDescription =
  "Discover expert, affordable custom web design and development services with a dedicated team in Central Florida.";
---

<html
  lang="en"
  class="selection:bg-blurple selection:text-dark overflow-x-clip scroll-smooth subpixel-antialiased">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={ogDescription} />
    <link rel="canonical" href={canonicalURL} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg?v=1" />
    <link rel="icon" type="favicon" href="/favicon.ico?v=1" />
    <meta name="robots" content="index, follow" />
    {/* OG Tags */}
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:site_name" content="majicwebdesign.com" />
    <meta property="og:description" content={ogDescription} />
    <meta property="og:image" content="/images/og-logo-v2.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    {/* Social Tags */}
    <meta property="twitter:title" content={title} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:description" content={ogDescription} />
    <meta property="twitter:image" content="/images/og-logo-v2.png" />
    <meta property="twitter:url" content={canonicalURL} />
    {/* Assets */}
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={calistogaFont}
      crossorigin="anonymous"
      fetchpriority="high"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={interFont}
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="image"
      type="image/svg+xml"
      href="/images/logo-light.svg"
    />
    <ClientRouter />
    <ScrollObserver />

    <script>
      import { Observer } from "tailwindcss-intersect";

      const aboutSection = document.querySelector("[data-about-content]");
      if (aboutSection && window.innerWidth >= 768) {
        aboutSection.classList.add("intersect-half");
      }

      Observer.start();
    </script>
    <script>
      // Calculate scrollbar width and set it as a CSS variable
      const scrollbarWidth =
        window.innerWidth - document.documentElement.clientWidth;
      document.documentElement.style.setProperty(
        "--scrollbar-width",
        scrollbarWidth + "px",
      );

      // Update on resize
      window.addEventListener("resize", () => {
        const scrollbarWidth =
          window.innerWidth - document.documentElement.clientWidth;
        document.documentElement.style.setProperty(
          "--scrollbar-width",
          scrollbarWidth + "px",
        );
      });
    </script>
  </head>

  <body>
    <Header />
    <main class="bg-dark-purple">
      <slot />
    </main>
  </body>
</html>
